.commentlist {
  background: #fff;
}

.children {
  padding-left: 115px;
}

.comment-body {
  background: #fff;
  margin-bottom: 24px;
}

.comment-body p {
  font-size: 15px;
  color: #444;
  line-height: 26px;
}

.comment-author a {
  color: #111;
  font-weight: 600;
  margin-bottom: 14px;
}

.comment-author img {
  border-radius: 50%;
}

.fn {
  background: #fff;
}

.commentdata {
  background: #fff;
}
